@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Oswald:wght@600&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    font-family: 'poppins', sans-serif;
    background-color: white;
    /* background-image: linear-gradient(rgb(53, 53, 53), rgb(44, 248, 44)); */
    height: 100%;
}

nav{
    max-width: auto;
    margin: 0rem;
    padding-left: 3rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px solid rgba(237,240,244,255);
}

.nav-logo{
    max-width: 100px;
    width: 100%;
    display: flex;
}

.nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #7eff4293;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 80%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: black;
    background-color:  #7eff4293;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #7eff4257;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: large;
    color: black; 
    
}

.section-1 {
    max-width: 1200px;
    margin: 5rem;
    padding: auto;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid green; */
}

.section-package{
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-package-image {
    display: flex;
    padding: 6px;
    width: 500px;
    max-height: 500px;
    justify-content: left;
    border-radius: 5%;
    border: 3px rgba(237,240,244,255);
}

.section-package-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-package-title2 {
    display: flex;
    flex-direction: column;
    text-wrap:balance;
    font-weight: lighter;
    font-size: large;
    font-style: italic;
}

.circle-container {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
}

.circle-avatar {
    /* border: 1px solid black; */
    padding: 2%;
    background-color: rgba(237,240,244,255);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-size: cover;
}

.circle-title-container {
    text-align: left;
    padding-left: 1rem;
    
}

.circle-title1 {
    padding-top: 1rem;
}

.circle-title2 {
    font-size: small;
    font-weight: lighter;
}

.batas {
    display: flex;
    background-color: rgba(237,240,244,255);
    border: 2px solid rgba(237,240,244,255);
    /* border-radius: 50%; */
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
}

.list-container {
    padding-left: 0rem;
}

.list-benefit-title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.section-3-circle-container1-section3 {
    padding-bottom: 1.5rem;
}

 .contact-main {
    background-color: rgba(237,240,244,255);
    border: 2px solid black;
    color: black;
    border-radius: 5%;
    margin: 4rem;
    margin-left: 10rem;
    padding-bottom: 20.4rem;
 }

 .contact-main-title {
    /* background-color: rgba(237,240,244,255); */
    margin: 2rem;
 }

 .section-package-title3{
    font-size:smaller;
 }

 .contact-title1 {
    font-weight: 600;
    padding-top: 1rem;
 }

.section-2 {
    max-width: 1200px;
    margin: 5rem;
    padding: 1rem;
    padding-bottom: 3rem;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    text-align: center;
    background-color: rgba(237,240,244,255);
}

.section-3 {
    max-width: 1200px;
    margin: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    /* border: 3px solid green; */
}

.section-3-circle-container1-section3 {
    display: flex;
    flex-direction: row;
    padding-left: 0rem;
}

.circle-avatar-section3 {
    /* border: 1px solid black; */
    padding: 2%;
    background-color: rgba(237,240,244,255);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 1rem;
    background-size: cover;
}

.circle-title-container-section3 {
    text-align: left;
    padding-left: 1rem;

}

.circle-title1-section3  {
    padding-top: 1rem;
    font-weight: lighter;

}

.circle-title1-section3-head {
    font-weight: bold;
    font-size: x-large;
}

.circle-title2-section3  {
    font-size: small;
    font-weight: lighter;
}

.batas2 {
    background-color: rgba(237,240,244,255);
    border: 2px solid rgba(237,240,244,255);
    /* border-radius: 50%; */
    margin-left: 45%;
    margin-right: 45%;
}

.section-4 {
    max-width: 1200px;
    margin: 5rem;
    padding: 1rem;
    /* border: 2px solid black; */
}

.section-4-container {
    display: flex;
}

.batas5 {
    background-color: rgba(237,240,244,255);
    border: 2px solid rgba(237,240,244,255);
    /* border-radius: 50%; */
    margin-left: 0%;
    margin-right: 0%;
}

.section-5 {
    max-width: 1200px;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 1rem;
}

.section-5-container {
    /* border: 1px solid black; */
    padding-left: 15rem;
    padding-right: 15rem;
    /* margin-bottom: 20rem; */
    padding-bottom: 5rem;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-5-body {
    padding-left: 5rem;
    padding-right: 5rem;
}

.btn-footer{
    padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    background-color:  rgb(41,50,61,255);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #7eff4257;
}

#call-to-action {
    background-color: rgb(41,50,61,255);
    color: white;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: large;
}

.batas6 {
    background-color: rgba(237,240,244,255);
    border: 2px solid rgba(237,240,244,255);
    /* border-radius: 50%; */
    margin-left: 0%;
    margin-right: 0%;
}

.footer {
    max-width: 1200px;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 1rem;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.footer-title-body a{
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
}

.footer-title-body a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #7eff4293;
    transition: all 0.3s ease;
}

.footer-title-body a:hover::after{
    width: 80%;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.btn:hover{
    background-color: #7eff4257;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 25em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }

 @media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
 }

 